<silicon-audio-wave audioSrc="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoptalk-clip.mp3"></silicon-audio-wave>

<!-- width -->
<b>Width</b>
<div style="width: 200px">
  <silicon-audio-wave audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>
</div>

<!-- rounded -->
<b>Rounded</b>
<silicon-audio-wave [rounded]="false" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>

<!-- color -->
<b>Color</b>
<silicon-audio-wave color="#ee2133" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>

<!-- height -->
<b>Height</b>
<silicon-audio-wave [height]="50" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>
<silicon-audio-wave [height]="100" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>
<silicon-audio-wave [height]="10" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>

<!-- gap -->
<b>Gap</b>
<silicon-audio-wave [gap]="1" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>
<silicon-audio-wave [gap]="2" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>
<silicon-audio-wave [gap]="9" audioSrc="assets/voice_29-06-2022_23-30-15"></silicon-audio-wave>

<!-- error will be displayed, cause 404 -->
<b>Error</b>
<silicon-audio-wave audioSrc="assets/no_file.mp3"></silicon-audio-wave>

