<img src="logo-min.svg" alt="" width="16" hidden>

<section>
  <div>played percent: {{ ngxAudioWave.playedPercent }} ({{ ngxAudioWave.exactPlayedPercent }})</div>
  <div>current time: {{ ngxAudioWave.currentTime }} ({{ ngxAudioWave.exactCurrentTime }})</div>

  <ngx-audio-wave
    #ngxAudioWave
    audioSrc="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoptalk-clip.mp3"
  ></ngx-audio-wave>

  <div>duration: {{ ngxAudioWave.duration }} ({{ ngxAudioWave.exactDuration }})</div>
</section>

<!-- width -->
<section>
  <b>Width</b>
  <div style="width: 200px">
    <ngx-audio-wave audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
  </div>
</section>

<!-- rounded -->
<section>
  <b>Rounded</b>
  <ngx-audio-wave [rounded]="false" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
</section>

<!-- color -->
<section>
  <b>Color</b>
  <ngx-audio-wave color="#ee2133" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
</section>

<!-- isLoading -->
<section>
  <b>isLoading</b>
  <ngx-audio-wave #audioRef audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>

  @if (!audioRef.isLoading) {
    <div>
      duration:
      {{ audioRef.currentTime | toTimer }} / {{ audioRef.duration | toTimer }}
      (no duration while loading)
    </div>
  }

  <div>
    duration:
    {{ audioRef.currentTime | toTimer }} / {{ audioRef.duration | toTimer }}
    (zero will be display while loading)
  </div>
</section>

<!-- btn -->
<section>
  <b>Custom btn</b>
  <ngx-audio-wave #audioRef1 [hideBtn]="true" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>

  <button (click)="audioRef1.play()">Play</button>
  <button (click)="audioRef1.pause()">Pause</button>
</section>

<section>
  <b>Toggle btn (is pause: {{ audioRef2.isPause }})</b>
  <ngx-audio-wave #audioRef2 [hideBtn]="true" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>

  @if (audioRef2.isPause) {
    <button (click)="audioRef2.play()">Play</button>
  } @else {
    <button (click)="audioRef2.pause()">Pause</button>
  }
  <button (click)="audioRef2.stop()">Stop</button>

  <div>
    or you can get access to The HTML <code>{{ audioText }}</code> element inside component <br>
    <code>audioRef2.audio?.nativeElement</code>
  </div>
</section>

<!-- height -->
<section>
  <b>Height</b>
  <ngx-audio-wave [height]="50" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
  <ngx-audio-wave [height]="100" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
  <ngx-audio-wave [height]="10" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
</section>

<!-- gap -->
<section>
  <b>Gap</b>
  <ngx-audio-wave [gap]="1" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
  <ngx-audio-wave [gap]="2" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
  <ngx-audio-wave [gap]="9" audioSrc="voice_29-06-2022_23-30-15.ogg"></ngx-audio-wave>
</section>

<!-- error will be displayed, cause 404 -->
<section>
  <b>Error</b>
  <ngx-audio-wave audioSrc="no_file.mp3"></ngx-audio-wave>
</section>

